@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

#nixy0001 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  color: #000;
  background: linear-gradient(to right, var(--corPrincipal), var(--corSecundaria));
  padding: 30px;
  border-radius: 5px;
  --corPrincipal: #690011;
  --corSecundaria: #000000;
  --caixaTexto: #eddada;
}

#nixy0001 div.secondLayer {
  background:var(--caixaTexto);
  padding: 5px;
  display: flex;

}

#nixy0001 div.text {
  text-align:justify;
  line-height:17px;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, var(--corSecundaria), var(--corPrincipal));
  padding: 20px;
  flex: 1;
}

#nixy0001 b {
  color: var(--corPrincipal);
}

#nixy0001 p {
  text-indent:30px;
}
